.added-message,
.error-message {
    border: 3px green solid;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
    color: green;
    background-color: lightgray;
}

.error-message {
    color: red;
    border: 3px red solid;
    background-color: gray;
}